@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Glonimove";
  src: url("/font/Glonimove-Font/glonimove-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
